<?xml version="1.0" encoding="utf-8"?>
<!--
 * Sonet - Android Social Networking Widget
 * Copyright (C) 2009 Bryan Emmanuel
 * 
 * This program is free software: you can redistribute it and/or modify
 *  it under the terms of the GNU General Public License as published by
 *  the Free Software Foundation, either version 3 of the License, or
 *  (at your option) any later version.
 *  
 *  This program is distributed in the hope that it will be useful,
 *  but WITHOUT ANY WARRANTY; without even the implied warranty of
 *  MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
 *  GNU General Public License for more details.
 *
 *  You should have received a copy of the GNU General Public License
 *  along with this program.  If not, see <http://www.gnu.org/licenses/>.
 *  
 *  Bryan Emmanuel piusvelte@gmail.com
-->
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
	package="com.piusvelte.sonet" android:versionCode="297"
	android:versionName="2.9.7">
	<application android:icon="@drawable/icon" android:label="@string/app_name" android:backupAgent="SonetBackupAgent">
		<activity android:name=".About" android:label="@string/app_name">
			<intent-filter>
				<action android:name="android.intent.action.MAIN" />
				<category android:name="android.intent.category.LAUNCHER" />
			</intent-filter>
		</activity>
		<activity android:name=".ManageAccounts">
			<intent-filter>
				<action android:name="android.appwidget.action.APPWIDGET_CONFIGURE" />
			</intent-filter>
		</activity>
		<activity android:name=".Settings" />
		<activity android:name=".AccountSettings" />
		<activity android:name=".OAuthLogin" />
		<activity android:name=".SonetCreatePost">
		    <intent-filter>
		        <action android:name="android.intent.action.SEND" />
		        <category android:name="android.intent.category.DEFAULT" />
		        <data android:mimeType="image/*" />
		        <data android:mimeType="text/*" />
		    </intent-filter>
		</activity>
		<activity android:name=".SonetComments" />
		<activity android:name=".StatusDialog"
			android:theme="@style/SonetDialog" />
		<activity android:name=".SonetUploadDialog"
			android:theme="@style/SonetDialog" />
		<activity android:name=".SonetNotifications" />
		<activity android:name="com.google.ads.AdActivity"
			android:configChanges="orientation|keyboard|keyboardHidden" />
		<!-- Broadcast Receiver that will process AppWidget updates -->
		<receiver android:name=".SonetWidget_4x2" android:label="@string/sonet_4x2">
			<intent-filter>
				<action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
			</intent-filter>
			<meta-data android:name="android.appwidget.provider"
				android:resource="@xml/widget_4x2" />
			<meta-data android:name="LauncherMetadata.Requirements.APIVersion"
				android:value="2" />
			<meta-data android:name="LauncherMetadata.Requirements.Scrollable"
				android:value="true" />
		</receiver>
		<receiver android:name=".SonetWidget_4x3" android:label="@string/sonet_4x3">
			<intent-filter>
				<action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
			</intent-filter>
			<meta-data android:name="android.appwidget.provider"
				android:resource="@xml/widget_4x3" />
			<meta-data android:name="LauncherMetadata.Requirements.APIVersion"
				android:value="2" />
			<meta-data android:name="LauncherMetadata.Requirements.Scrollable"
				android:value="true" />
		</receiver>
		<receiver android:name=".SonetWidget_4x4" android:label="@string/sonet_4x4">
			<intent-filter>
				<action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
			</intent-filter>
			<meta-data android:name="android.appwidget.provider"
				android:resource="@xml/widget_4x4" />
			<meta-data android:name="LauncherMetadata.Requirements.APIVersion"
				android:value="2" />
			<meta-data android:name="LauncherMetadata.Requirements.Scrollable"
				android:value="true" />
		</receiver>
		<receiver android:name=".SonetWidget">
			<intent-filter>
				<action android:name="com.piusvelte.sonet.Sonet.REFRESH" />
			</intent-filter>
			<intent-filter>
				<action android:name="com.piusvelte.sonet.Sonet.BUILD_SCROLL" />
			</intent-filter>
		</receiver>
		<service android:name=".SonetService" />
		<service android:name=".SonetScrollableBuilder" />
		<receiver android:name=".SonetSMSReceiver">
			<intent-filter>
				<action android:name="android.provider.Telephony.SMS_RECEIVED" />
			</intent-filter>
		</receiver>
        <service android:name="SonetRemoteViewsService"
            android:permission="android.permission.BIND_REMOTEVIEWS"
            android:exported="false" />
		<provider android:name=".SonetProvider" android:authorities="com.piusvelte.sonet.SonetProvider"
			android:multiprocess="true" android:grantUriPermissions="true" />
		<!--<meta-data android:name="com.google.android.backup.api_key"
		    android:value="AEdPqrEAAAAIJFmymCv9QhMdqT8nwcSVQ5IGM17NW-kE4ZXH0w" />-->
	</application>

	<uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
	<uses-permission android:name="android.permission.WAKE_LOCK" />
	<uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
	<uses-permission android:name="android.permission.INTERNET" />
	<uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
	<uses-permission android:name="android.permission.RECEIVE_SMS" />
	<uses-permission android:name="android.permission.READ_CONTACTS" />
    <uses-permission android:name="android.permission.VIBRATE" />
	<uses-sdk android:minSdkVersion="6" android:targetSdkVersion="15" />
	<uses-feature android:name="android.hardware.telephony" android:required="false" />
	<supports-screens android:largeScreens="true" android:xlargeScreens="true" />

</manifest>